<h1>Welcome to The Urban Farmer App</h1>
<%= link_to 'About', about_path %>
<%= link_to 'Home', root_path %>

<h1 align="center">Guides</h1>
<p>
<%= link_to "Create New", new_guide_path %>

<% @guides.each do |guide| %>
 <div class="row">
  <div class="col-xs-8 col-xs-offset-2">
   <div class="well well-lg">
    <div class="guide-plantname">
     <%= link_to guide.plantname, guide_path(guide) %>
    </div>
    <div class="guide-body">
     <%= truncate(guide.description, length: 100) %>
    </div>
    </div>
  </div>
 </div>
<% end %>



   

